  <div id="login-page">
    <div class="container">
      <div class="form-login">
        <h2 class="form-login-heading">sign in now</h2>
        <div class="login-wrap">
          <%= form_for :session , url: login_path do |f|  %>
            <div class="login_form_field">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
            <br>
            <div class="login_form_field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>
            <br>
            <div class="login_submit">
              <%= f.submit "Sign in", class: "btn btn-theme btn-block" %>
            </div>
          <% end %>
        </end>
          <hr>
          <div class="login-social-link centered">
            <p>Sign in with Google</p>
            <%= link_to "Login with Google", "/auth/google_oauth2", class: "btn btn-primary" %>
          </div>
          <div class="registration">
            Don't have an account yet?<br/>
            <%=link_to "Register here", register_path%>
          </div>
        </div>
      </div>
    </div>
  </div>
