<%= link_to "Login with Google", "/auth/google_oauth2" %>

<div class="login_form">
  <%= form_for :session , url: login_path do |f|  %>
    <div class="login_form_field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="login_form_field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="login_submit">
      <%= f.submit "Submit"%>
    </div>
  <% end %>
</div>
