<%= form_for [@facade.user, @facade.current_question], url: user_topic_question_path(@facade.topic), method: :patch do |f|  %>

  <p class="form_text"> <%= @facade.current_question.title %>'s notes: '</p>
  <% if !@facade.current_question.notes_text %>
    <%= text_area_tag(:notes_text, "Write notes here!", size: "120x6") %>
  <% else %>
    <%= text_area_tag(:notes_text, "#{@facade.current_question.notes_text}", size: "120x6") %>
  <% end %>
  <div class="question_note_save">
    <br><%= f.submit "Save Note" %>
  </div>

<% end %>
