<div class="container_fluid">
<div class="question_title">
<h2><%= @facade.current_question.title %></h2>
</div>


<div class="card">
    <%= render 'partials/question_notes' %>
</div>

<div class="card">
  <div class="bing_results">
    <h3>Bing results</h3>
      <% @facade.bing_search(@facade.current_question).each do |link| %>
        <div class="search_results">
          <%= link_to "#{link.title}", link.bing_site_link_text, target: "_blank" %> <%= link_to 'Save Link', "#{new_user_topic_question_link_url(@facade.topic, @facade.current_question)}.js?bing_website_text=#{link.bing_site_link_text}", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'%><br>
          <%=link.bing_display_text%>
        </div>
      <%end%>
  </div>
</div>

<div class="card">
  <div class="all_saved_links">
    <h3>Saved Links</h3>

    <%= link_to 'Add New Link', "/user/topics/#{@facade.topic.id}/questions/#{@facade.current_question.id}/links/new.js", remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary' %>

    <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    <% @facade.current_question_links.each do |link| %>
      <div class="saved_link">
        <%= link_to "#{link.name}", "http://#{link.website_link_text}", target: "_blank" %> <br>
        <%= link.website_link_text.truncate(65) %>
      </div>
    <%end%>
  </div>
</div>
</div>
