
  <div class="card">
    <div class="form-login">
      <h2 class="form-login-heading">register now</h2>
      <div class="login-wrap">
      <%= form_for @user do |form| %>
          <div class="login_form_field">
            <%= form.label :email %>
            <%= form.email_field :email %>
          </div>
          <br>
          <div class="login_form_field">
            <%= form.label :first_name %>
            <%= form.text_field :first_name %>
          </div>
          <br>
          <div class="login_form_field">
            <%= form.label :last_name %>
            <%= form.text_field :last_name %>
          </div>
          <br>
          <div class="login_form_field">
            <%= form.label :password %>
            <%= form.password_field :password %>
          </div>
          <br>
          <div class="login_form_field">
            <%= form.label :Confirm_password %>
            <%= form.password_field :password_confirmation %>
          </div>
          <br>
          <div class="login_submit">
            <%= form.submit 'Register', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </end>
        <hr>
        <div class="login-social-link centered">
          <p>Register using your Google account</p>
            <%= link_to "Register with Google", "/auth/google_oauth2", class: 'btn btn-primary' %>
        </div>
      </div>
    </form>
  </div>
