<h1> <%= @facade.full_name%>'s Topic Dashboard</h1>

<div class="New_topic">
  <%= link_to "Create New Topic", new_user_topic_path %>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header card-header-primary">
            <h2 class="card-title ">Research In Progress</h2>
          </div>
          <div class="card-body in_progress_topics">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                </thead>
                <tbody>
                  <%@facade.in_progress_topics.each do |topic| %>
                  <tr class="topic_link">
                  <td>
                    <%= link_to topic.title,user_topic_path(topic) %>
                  </td>
                  <td>
                    Status: <%= topic.status %>
                  </td>

                  <td>
                    Research began on <%=topic.created_at_format %>
                  </td>
                  <td>
                    <% if topic.enable? %>
                      <%= button_to "Disable", user_topic_path(topic), :params => {:topic => { status: 0}}, method: :put %>
                    <% else %>
                      <%= button_to "Enable", user_topic_path(topic), :params => {:topic => { status: 1}}, method: :put %>
                    <% end  %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="card">
          <div class="card-header card-header-primary">
            <h2 class="card-title ">Completed Research</h2>
          </div>
          <div class="card-body complete_topics">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                </thead>
                <tbody>
                  <%@facade.complete_topics.each do |topic| %>
                  <tr>
                  <td class="complete_research">
                    <%= link_to topic.title,user_topic_path(topic) %>
                  </td>
                  <td>
                    Research updated on <%=topic.updated_at_format %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
