<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Add a link to the current question</h4>
</div>
<div class="modal-body">
  <div id="new_link_form">
    <% if @link.website_link_text != nil %>

      <%= simple_form_for @link, url: user_topic_question_links_path(@topic, @question) do |f| %>
      <%=f.input :name, label: 'Include a brief description', input_html: { maxlength: 75, :size => 40 } %>
      <%=f.input :website_link_text, label: 'Add the full website URL', placeholder: "#{@link.website_link_text}", input_html: { maxlength: 255, :size => 40 } %>
      <%= f.button :button, "Create Link", class: 'btn btn-primary'%>
      <%end%>

    <%else%>
      <%= simple_form_for @link, url: user_topic_question_links_path(@topic, @question) do |f| %>
      <%=f.input :name, label: 'Include a brief description', placeholder: 'Ex: ABA recent graduate data', input_html: { maxlength: 75, :size => 40 } %>
      <%=f.input :website_link_text, label: 'Add the full website URL', placeholder: 'Ex: www.americanbar.org/groups/legal_education/resources/statistics/', input_html: { maxlength: 255, :size => 40 } %>
      <%= f.button :button, "Create Link", class: 'btn btn-primary'%>
      <% end %>

    <%end%>
  </div>
</div>
