<div class="topic">
  <%=@facade.topic.title%>
  <%=@facade.topic.goal%>
</div>

<div class="new_question">
  <%= form_for @facade.new_question, :url => user_topic_questions_path(@facade.topic) do |f| %>
    <%= f.text_field :title, size: 150 %>
    <%= f.submit "New Question" %>
  <% end %>
</div>

<div class="all_questions"> <p>My Questions:</p>
  <% @facade.topic_questions.each do |question|%>
    <%= question.title %>
  <% end %>
</div>

<div class="bing_results">
  <% if @facade.searched_question.id != nil %>
    Bing results:
  <% @facade.search(@facade.searched_question).each do |link| %>
    <div class="search_results">
      <%= link.name %>
      <%= link.url %> <br>
    </div>
  <% end %>
<% end %>
</div>
