<!DOCTYPE html>
<html>
  <head>
    <title>RabbitHole</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <div class="overlay_container">
    <h1>The Rabbit Hole</h1>
    </div>
  </header>

  <body>

    <%= yield %>

    <footer>
      <div class="overlay_container">
      <p>Brought to you by Amy, Cesar, Isaac, & Melvin</p>
      </div>
    </footer>

  </body>

</html>
