<!DOCTYPE html>
<html>
  <head>
    <title>RabbitHole</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <div class="overlay_container">
    <h1>The Rabbit Hole</h1>
    <p>"You will never know less than you know right now." ~ Sandi Metz</p>

    <% if current_user %>
      <div class="align-middle table-cell p3">
        <%= link_to "Profile", user_dashboard_path %>
        <%= link_to 'Log out', logout_path, method: 'delete' %>
      </div>
    <% else %>
      <div class="align-middle table-cell p3">
        <%= link_to 'Sign in', login_path, class: "px2"%>
        <%= link_to 'Register', register_path %>
      </div>
    <% end %>
    </div>
  </header>


  <body>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="overlay_container">
      <p>Brought to you by Amy, Cesar, Isaac, & Melvin</p>
      </div>
    </footer>

  </body>

</html>
