<!DOCTYPE html>
<html>
  <head>
    <title>RabbitHole</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <div class="overlay_container">
    <h1>The Rabbit Hole</h1>
    <p>"You will never know less than you know right now." ~ Sandi Metz</p>
    </div>
  </header>

  <body>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

    <footer>
      <div class="overlay_container">
      <p>Brought to you by Amy, Cesar, Isaac, & Melvin</p>
      </div>
    </footer>

  </body>

</html>
